:root {
  --fadeinSec: 2s;
}

body {
  background-color: #14161e;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
  color: white;
}

p {
  color: white;
}

hr {
  color: white;
}

nav {
  background-color: #14161eee;
}

.navbar-brand {
  font-weight: 200;
  color: #bd4c5f !important;
}

.btn-outline-success {
  border-color: #bd4c5f !important;
  color: #bd4c5f !important;
}

.btn-outline-success:hover {
  background-color: #272a36;
  color: white !important;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.fade-in {
  -webkit-animation: fadein var(--fadeinSec); /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein var(--fadeinSec); /* Firefox < 16 */
  -ms-animation: fadein var(--fadeinSec); /* Internet Explorer */
  -o-animation: fadein var(--fadeinSec); /* Opera < 12.1 */
  animation: fadein var(--fadeinSec);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
